body
{
	background-color:;

}

/*NAVBAR*/

.navbar
{
	padding-right: 10%;
	padding-left: 10%;
	font-family: Grenze Gotisch;
	color: black ;
	background-color: #c23dff;

}
.nav-item
{
	font-size: 25px;
	margin: 0 25%;
	box-shadow: 2px 2px 2px black;
}

section{
	margin-top: 8%;
}

/*HOME*/

.main_head
{
	margin-left: 16%;
	margin-right: 16%;
	padding: 3%;
	color: black;
	font-family:  ; 
	font-size: 170%; 
	text-align: center; 
	background-color: #db8cff;
	border-radius: 50px;
	box-shadow: 5px 5px 5px;

}

/*ABOUT*/

.headings
{
	margin-top: 2%;
	font-family: Caveat;
	background-color: #db8cff ;
	padding: 1%;
	margin-left: 0%;
	margin-right: 0%;
}


.intro_text
{
	padding: 5%;
	background-size: cover;
	border-radius: 25px;
	text-align: center;
	color: white;
	font-family: Lobster;
	border: 2px solid white;
}

/*SKILLS*/
.intro
{
	margin-left: 5%;
	margin-right: 5%;
	padding: 4%;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 12px 12px 10px black;
	background-size: cover;
	font-family: Caveat;
	font-weight: bold;
}

/*SEVICES*/

.card
{
	box-shadow: 5px 5px 5px black; 
	background-color: ;
}


/*CONATACT*/

.full_contact
{
	background-size: cover;
  	float: left;
  	width: 92%;
  	margin-bottom: 3%;
}
.contact_icon
{
	font-size: 200%; 
	padding: 2px 8px; 
	color: #1c1818;
	margin-bottom: 1%;
	text-shadow: 4px 4px 4px #969696;
}
.form-group
{
	padding: 1%;
	font-family: Sriracha;
	letter-spacing: 2px;
	font-weight: bold;
	margin-left: 5%;
	font-size: 15px;
	text-align: center;
}


/*footer*/

.footer
{
	text-align: center; 
	letter-spacing: 5px;
	font-family: Montserrat Alternates; 
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px grey;
}
